Beginning Programming with Python
===========================


Session 1: Getting Started
--------------------------

* The Zen of Python
* Variables
* Comments
* Strings
* Numbers
* Booleans
* String Methods
* Using Variables in Strings
* Numerical Operations
* Working with Numerical Data
* Using the Math library
* Setting up Anaconda Python
  * Anaconda
  * Good Youtube Video
  
**Assignment**

1. Install Anaconda Python
https://www.youtube.com/watch?v=Z1Yd7upQsXY
2. Create GitHub account
3. Create Codewars account
4. Create Reddit account

In [13]:
2 + 5

7

In [12]:
import this

Variables
---------

In [14]:
phoebe = 8

In [15]:
print(phoebe)

8

In [16]:
print(id(phoebe))

4473468240

In [17]:
maru = 7

In [18]:
id(maru)

4473468208

In [19]:
4fun = 3

SyntaxError: invalid syntax (<ipython-input-19-f892cc009b73>, line 1)

In [20]:
fun4 = 3

In [21]:
m = 7

In [22]:
phoebe_age_in_years = 8

In [23]:
dog_name = "Phoebe"

In [24]:
print(dog_name)

Phoebe

In [25]:
type(dog_name)

str

In [26]:
type(phoebe)

int

In [27]:
dog_name + phoebe

TypeError: can only concatenate str (not "int") to str

In [28]:
dog_name + " is a dog"

'Phoebe is a dog'

Comments
--------

In [29]:
# I'm attempting to calculate dog years for humans
dog  = 1222

In [31]:
# Here's something
# ... And etc.
#     and more...

In [32]:
"""Calculate the age very simply.
I'm using the standard algorithm...
"""
age = 10

Strings
-------

In [33]:
4 + 4

8

In [34]:
"4" + "4"

'44'

In [35]:
len("robb")

4

In [36]:
dir("robb")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [37]:
"robb".endswith('b')

True

In [38]:
"robb".endswith('x')

False

In [39]:
"Phoebe".lower()

'phoebe'

In [40]:
"Here's a meanlingless sentence.".split()

["Here's", 'a', 'meanlingless', 'sentence.']

In [41]:
"phoebe"

'phoebe'

In [42]:
print("hey")

hey

In [43]:
name = "Ramona"

In [44]:
f"{name} said thanks!"

'Ramona said thanks!'

In [45]:
name + " said thanks!"

'Ramona said thanks!'

In [46]:
"%s said thanks!", name

('%s said thanks!', 'Ramona')

In [48]:
"{} said thanks! {}".format(name, "hey")

'Ramona said thanks! hey'

Numbers
-------

In [49]:
type(5)

int

In [50]:
type(5.5)

float

In [51]:
account_balance = 100.1111111

In [52]:
5.5 + 5

10.5

In [53]:
5.5 + "5"

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [54]:
5.5 + float("5")

10.5

In [55]:
float("0")

0.0

In [56]:
type(0.0)

float

In [57]:
float("x")

ValueError: could not convert string to float: 'x'

In [58]:
int("0")

0

In [59]:
int("x")

ValueError: invalid literal for int() with base 10: 'x'

In [60]:
"x"

'x'

In [61]:
x

NameError: name 'x' is not defined

In [62]:
x = 1

In [63]:
x

1

In [64]:
id(x)

4473468016

In [65]:
"x"

'x'

Booleans
--------

In [66]:
1, -1, 0

(1, -1, 0)

In [67]:
type(1)

int

In [68]:
False

False

In [69]:
True

True

In [70]:
1 == 2

False

In [71]:
1 == 1

True

In [72]:
not (1 == 1)

False

In [73]:
not (True and False)

True

In [74]:
(not True) or (not False)

True

In [75]:
if 1 == 2:
    print("The world's gone mad")

In [76]:
if 1 == 1:
    print("No problem with that")

No problem with that

In [77]:
phoebe_is_old = phoebe > 12

In [82]:
phoebe_is_old

False

In [80]:
if phoebe_is_old:
    print("old")

In [81]:
phoebe

8

In [83]:
o = phoebe > 12

In [84]:
O = maru > 12

In [85]:
Math.PI

NameError: name 'Math' is not defined

In [86]:
import Math

ModuleNotFoundError: No module named 'Math'

In [87]:
import math

In [88]:
math.PI

AttributeError: module 'math' has no attribute 'PI'

In [89]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [90]:
GOOGLE_ID = 12354617234567234

In [91]:
GOOGLE_ID

12354617234567234

In [92]:
GOOGLE_ID = 'fu'

In [93]:
GOOGLE_ID

'fu'

Numerical Data and the Math Library
-----------------------------------

In [95]:
round(1.23456)

1

In [96]:
round(1.5)

2

In [97]:
round(1.4)

1

In [98]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [99]:
round(1.23456, 2)

1.23

In [100]:
1.23 * 1.07

1.3161

In [101]:
round(1.23 * 1.07, 2)

1.32

In [102]:
round('x' + 'y', 2)

TypeError: type str doesn't define __round__ method

In [103]:
abs(3)

3

In [104]:
abs(-3)

3

In [105]:
2 % 3

2

In [106]:
3 % 2

1

In [107]:
3 % 2 == 0

False

In [108]:
10 % 2 == 0

True

In [109]:
10 % 3 == 0

False

In [110]:
15 % 3 == 0

True

In [111]:
not(10 % 2 == 0)

False

In [112]:
10 % 7 != 0

True

Using the Math Library
----------------------

In [113]:
import math

In [114]:
x

1

In [115]:
math

In [116]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [117]:
math

In [118]:
pi

NameError: name 'pi' is not defined

In [119]:
math.pi

3.141592653589793

In [120]:
math.factorial(4)

24

In [121]:
math.factorial(10)

3628800

In [122]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [123]:
math.ceil(1.1)

2

In [124]:
math.ceil

In [125]:
type(math.ceil)

builtin_function_or_method